@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Rubik', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}


.container-fluid {
  padding-right: 10%; /* Adjusts padding to push content from the right */
}

.navbar-brand {
  margin-left: 10%; /* Pushes the navbar-brand 30% from the left side */
  color: #F8F8FF !important; 
}

.navbar {
  /* background-color: transparent !important;*/
  background-color: #161A30;
}

.navbar-nav .nav-link {
  color: #F8F8FF !important; /* Pure white */
}

.navbar-nav .nav-link:hover {
  color: #007bff !important; /* Bootstrap's default blue */
}

.banner-section {
  color: white;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  background-image: url('../photos/BANNER_BOK_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.banner-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while preserving aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.banner-text {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
  max-width: 50%;
}

.banner-text h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 3.5rem); /* Dynamically adjusts font size */
  overflow-wrap: break-word; /* Ensures long words break to avoid overflow */
}

.banner-text p {
  font-size: clamp(0.5rem, 1.5vw, 1.3rem);
}

.hero-container {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center; /* Ensures that the text within the container is centered */
  margin-top: 20px;
}

.hero-container h2 {
  margin: 0; /* Removes default margin of the heading */
}




/*--------------------------------------------------------------
# What are Trust Tech
--------------------------------------------------------------*/

.dtc-trust-tech-main {
  padding: 20px;
  border-radius: 8px;
}


.dtc-trust-tech-main .container h2 {
  text-align: center;
}

.dtc-trust-tech-main .container p {
  text-align: justify;
}



/*--------------------------------------------------------------
# Trusted Analysis
--------------------------------------------------------------*/

.trusted-analysis {
  padding: 20px;
  border-radius: 8px;
}


.trusted-analysis .container h2 {
  text-align: center;
}

.trusted-analysis .container p {
  text-align: justify;
}


.trusted-analysis ul {
  padding-left: 100px;
  text-align: justify;
}


.trusted-analysis li {
  padding-bottom: 15px;
}


/*--------------------------------------------------------------
# Trusted Digital ID and Web 3.0
--------------------------------------------------------------*/

.trusted-digitalid {
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f7f5;
}


.trusted-digitalid .container h2 {
  text-align: center;
}

.trusted-digitalid .container p {
  text-align: justify;
}


.trusted-digitalid ul {
  padding-left: 100px;
  text-align: justify;
}


.trusted-digitalid li {
  padding-bottom: 15px;
}


/*--------------------------------------------------------------
# Trusted Compute
--------------------------------------------------------------*/

.trusted-compute {
  padding: 20px;
  border-radius: 8px;
}


.trusted-compute .container h2 {
  text-align: center;
}

.trusted-compute .container p {
  text-align: justify;
}


.trusted-compute ul {
  padding-left: 100px;
  text-align: justify;
}


.trusted-compute li {
  padding-bottom: 15px;
}



/*--------------------------------------------------------------
# Trusted Accreditation
--------------------------------------------------------------*/

.trusted-accreditation {
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f7f5;
}


.trusted-accreditation .container h2 {
  text-align: center;
}

.trusted-accreditation .container p {
  text-align: justify;
}


.trusted-accreditation ul {
  padding-left: 100px;
  text-align: justify;
}


.trusted-accreditation li {
  padding-bottom: 15px;
}


/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.gray-background {
    background-color: #f8f9fa; 
  }


  /* remove border of card */
  .card {
      border: none;
      display: flex;
      flex-direction: row;
      box-shadow: none; 
      border-radius: 30px;
  }


  /* Custom CSS to make all card bodies the same height */
  .custom-card-body {
    min-height: 200px; /* Adjust this value as needed */
  }


  .card-top-padding {
    padding-top: 20px; /* This adds 20px padding to the top of the card */
  }

  .card-text-title {
    font-family: Consolas, monospace;
    font-weight: bold;
    font-size: 25px;
    color: grey;
    
  }

  .card-text-title a {
      color: inherit; /* Ensures links inherit the text color from the parent */
      text-decoration: none; /* Optional: removes underline from links */
  }

  .card-text-title a:hover {
      color: darkgrey; /* Changes color to dark grey on hover */
  }

  .card-text-summary{
    font-family: Consolas, monospace;
    font-weight: bold;
    font-size: 18px;
  }

  .card-text-date {
    font-family: Consolas, monospace;
    font-weight: bold;
  }

  .card-text-publisher {
    font-family: Consolas, monospace;
    font-weight: bold;
    padding-top: 20px;
  }

  .card-text-date {
    font-family: Consolas, monospace;
    font-weight: bold;

  }

  .card-newstag {
    font-family: Consolas, monospace;
    font-weight: bold;            
  }



  /* Pagination Colors */
  .pagination {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
  }

  .page-item {
      margin: 0 3px;
      
  }

  .page-item.disabled .page-link {
      color: gray;
      cursor: not-allowed;
      background-color: #f1f1f1;
  }

  .page-item.active .page-link {
      background-color: navy;
      color: white;
  }

  .page-link {
      color: navy;
      padding: 10px 20px;
      border: 1px solid #ccc;
      text-decoration: none;
  }

  .page-link:hover {
      background-color: #f8f9fa;
      color: black;
  }

  .pagination .page-item .page-link {
      text-align: center;
      min-width: 60px;
      border-radius: 10px;
  }


  #redirectModal {
      width: 300px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
  }

  #redirectModal button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: navy;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }



/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  background-color: gray;
  font-size: 14px;
  padding-bottom: 50px;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}



/* Media Queries */
@media (min-width: 1025px) and (max-width: 5500px) {
  .banner-section {
    min-height: 30vh;
    height: 30vh; /* Same as the height of the cards */
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
  }

  .banner-image {
    width: 100%;
    height: 30vh; /* Same as the height of the banner section */
  }

  .banner-text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    max-width: 70%;
  }
}





@media (min-width: 481px) and (max-width: 1024px) {
  .banner-section {
    min-height: 30vh;
    height: 30vh; /* Same as the height of the cards */
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
  }

  .banner-image {
    width: 100%;
    height: 30vh; /* Same as the height of the banner section */
  }

  .banner-text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 20px;
    max-width: 80%;
  }
}




@media (max-width: 480px) {
  .banner-section {
    min-height: 30vh;
    height: 30vh; /* Same as the height of the cards */
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
  }

  .banner-image {
    width: 100%;
    height: 30vh; /* Same as the height of the banner section */
  }

  .banner-text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 20px;
    max-width: 80%;
  }
}
