@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*body {
  font-family: 'Rubik', sans-serif; */
  /* display: flex; */
  /*
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  flex: 1;
  */

  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewport="0 0 20 20" fill="grey"><circle cx="1" cy="1" r="1"/></svg>');
  background-size: 10px 10px; */
/*}*/

html {
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
  
body {
    font-family: 'Rubik', sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-fluid {
  padding-right: 10%; /* Adjusts padding to push content from the right */
}

.navbar-brand {
  margin-left: 10%; /* Pushes the navbar-brand 30% from the left side */
  color: #F8F8FF !important; 
}

.navbar {
  /* background-color: transparent !important;*/
  background-color: #161A30;
}

.navbar-nav .nav-link {
  color: #F8F8FF !important; /* Pure white */
}

.navbar-nav .nav-link:hover {
  color: #007bff !important; /* Bootstrap's default blue */
}

.banner-section {
  
  color: white;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* to debug box-shadow: 0 4px 12px -2px rgba(214, 9, 9, 0.3); */    
  margin-bottom: 20px;

  background-image: url('../photos/BANNER_BOK_1.png');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  
  padding-top: 70px;
}


.banner-image {
  width: 100%;

  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while preserving aspect ratio */
  display: block; /* Remove any extra space below the image */

}


.banner-text {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  max-width: 50%;
}

.banner-text h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 3.5rem); /* Dynamically adjusts font size */
  overflow-wrap: break-word; /* Ensures long words break to avoid overflow */
}


.banner-text p {
  font-size: clamp(0.5rem, 1.5vw, 1.3rem);;
}

.hero-container {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Ensures that the text within the container is centered */
    margin-top: 20px;
}

.hero-container h2 {
    margin: 0; /* Removes default margin of the heading */
}








/* Media Queries */
@media (min-width: 1025px) and (max-width: 5500px) {

    .banner-section {
        height: 30vh; /* Same as the height of the cards */
        margin-bottom: 0px;
        
    }
    
    .banner-image {
        width: 100%;
        height: 30vh; /* Same as the height of the banner section */
    }

    .banner-text {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding: 20px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        max-width: 70%;
    }


}

@media (min-width: 481px) and (max-width: 1024px) {
    .banner-section {
        height: 30vh; /* Same as the height of the cards */
        margin-bottom: 10px;
        
    }
    
    .banner-image {
        width: 100%;
        height: 30vh; /* Same as the height of the banner section */
    }

    .banner-text {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 15px;
        padding: 20px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        max-width: 80%;
    }

}


@media (max-width: 480px) {
    .banner-section {
        height: 30vh; /* Same as the height of the cards */
        margin-bottom: 10px;
        
    }
    
    .banner-image {
        width: 100%;
        height: 30vh; /* Same as the height of the banner section */
    }

    .banner-text {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 12px;
        padding: 20px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        max-width: 80%;
    }

}




.service-details {
    padding-top: 20px;
}

.referencelibrary-1 {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.referencelibrary-1 h4 {
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
}

.industry-insights a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.industry-insights a.active {
    display: inline-block;
    background: navy;
    color: #fff;
    border-radius: 10px;
}

/*
.industry-insights a:hover {
    background: navy;
    color: #fff;
}
*/

.referencelibrarycontent-1 {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.latestcards .card {
    border-radius: 10px;
}

.latestcards .card-body {
    padding-bottom: 1px;
}



.casestudiescards .card {
    border-radius: 10px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: navy;
    border: 1px solid navy;
    border-radius: 5px;
}
.pagination a.active {
    background: navy;
    color: #fff;
}

/*
.pagination a:hover {
    background: rgb(41, 41, 218);
    color: #fff;
}
*/

@media (max-width: 767px) {
    .pagination a {
        padding: 5px 10px;
        margin: 2px;
    }
}


/* latestcards */
.latestcards .card-body h5 {
    padding: 0px;
}

.latestcards .card-body ul {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.latestcards .card-body li {
    padding-top: 10px;
}

.latestcards .card-body li:hover {
    color: rgb(0, 0, 247) !important; 
}


/* collaboration */
.collaboration .card-body h5 {
    padding: 0px;
}

.collaboration .card-body ul {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.collaboration .card-body li {
    padding-top: 10px;
}

.collaboration .card-body li:hover {
    color: rgb(0, 0, 247) !important; 
}


/* industrystandards */
.industrystandards .card-body h5 {
    padding: 0px;
}

.industrystandards .card-body ul {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.industrystandards .card-body li {
    padding-top: 10px;
}

.industrystandards .card-body li:hover {
    color: rgb(0, 0, 247) !important; 
}

/* aisafetyresearchandorganizations */
.aisafetyresearchandorganizations .card-body h5 {
    padding: 0px;
}

.aisafetyresearchandorganizations .card-body ul {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.aisafetyresearchandorganizations .card-body li {
    padding-top: 10px;
}

.aisafetyresearchandorganizations .card-body li:hover {
    color: rgb(0, 0, 247) !important; 
}


/* measuresandcontrols */
.measuresandcontrols .card-body h5 {
    padding: 0px;
}

.measuresandcontrols .card-body ul {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.measuresandcontrols .card-body li {
    padding-top: 10px;
}

.measuresandcontrols .card-body li:hover {
    color: rgb(0, 0, 247) !important; 
}


/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
    background-color: gray;
    font-size: 14px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
}

.footer .copyright p {
    margin-bottom: 0;
}

.footer .credits {
    margin-top: 6px;
    font-size: 13px;
}

  
















