* 
{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

.container-fluid {
    padding-right: 10%; /* Adjusts padding to push content from the right */
}

.navbar-brand {
    margin-left: 10%; /* Pushes the navbar-brand 30% from the left side */
    color: #F8F8FF !important;

}

.navbar {
    /* background-color: transparent !important;*/
    background-color: #161A30;
}

.navbar-nav .nav-link {
    color: #F8F8FF !important; 
}

.navbar-nav .nav-link:hover {
    color: #007bff !important; /* Bootstrap's default blue */
}

.banner-section {
    
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* to debug box-shadow: 0 4px 12px -2px rgba(214, 9, 9, 0.3); */    
    margin-bottom: 20px;

    background-image: url('../photos/BANNER_BOK_1.png');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    
    padding-top: 70px;
}


.banner-image {
    width: 100%;

    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
    display: block; /* Remove any extra space below the image */

}


.banner-text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    max-width: 50%;
}

.banner-text h1 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 3.5rem); /* Dynamically adjusts font size */
    overflow-wrap: break-word; /* Ensures long words break to avoid overflow */
}


.banner-text p {
    font-size: clamp(0.5rem, 1.5vw, 1.3rem);;
}

/*
.banner-text h1 {
    margin-bottom: 30px;
    font-weight: bold;
}


.banner-text p {
    font-weight: bold;
}
*/


label {
    font-weight: bold;
}

.content-container {
  display: flex;
  justify-content: center;
  /*padding: 20px;*/
  padding-top:20px;
  padding-left: 20px;
  width: 100%;
  overflow: auto;
  margin-bottom: 50px;
}

.table-container {
  flex: 0 0 60%; /* Adjust this value as needed */
  margin-right: 20px; /* Add some space between table and graph */
  min-height: 1000px;    
}

/* Ensure table uses full width of its container */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}


.register-link {
  color: #001440d7; /* Normal state color */
  text-decoration: none; /* Optional: removes the underline */
}

.register-link:hover {
  color: #4a6399d7; /* Color on hover */
}


.note-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap; /* Allow the items to wrap */
  gap: 10px; /* Add some space between items */
  margin-top: 20px;
  margin-bottom: 20px;
}


.filter-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap; /* Allow the items to wrap */
  gap: 10px; /* Add some space between items */
  margin-top: 20px;
}


.center-option {
    text-align: center;
}
  


/* Media Queries */
@media (min-width: 1025px) and (max-width: 5500px) {

    .banner-section {
        height: 30vh; /* Same as the height of the cards */
        margin-bottom: 0px;
        
    }

    .banner-image {
        width: 100%;
        height: 30vh; /* Same as the height of the banner section */
    }

    .banner-text {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding: 20px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        max-width: 70%;
    }


}

@media (min-width: 481px) and (max-width: 1024px) {
    .banner-section {
        height: 30vh; /* Same as the height of the cards */
        margin-bottom: 10px;
        
    }
    .banner-image {
        width: 100%;
        height: 30vh; /* Same as the height of the banner section */
    }
    .banner-text {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 15px;
        padding: 20px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        max-width: 80%;
    }
}


@media (max-width: 480px) {
    .banner-section {
        height: 30vh; /* Same as the height of the cards */
        margin-bottom: 10px;
        
    }
    .banner-image {
        width: 100%;
        height: 30vh; /* Same as the height of the banner section */
    }
    .banner-text {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 12px;
        padding: 20px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        max-width: 80%;
    }
}

@media (max-width: 767px) {
    .content-container {
        justify-content: flex-start;
    }

    .filter-container > * {
        flex-basis: 100%; /* Make each child take full width on small screens */
        text-align: center; /* Center the text of each filter item */
    }

}